pandas==2.2.3
ultralytics==8.3.85
opencv-python==4.11.0.86
psycopg2-binary==2.9.10
azure-eventhub==5.14.0
azure-eventhub-checkpointstoreblob==1.2.0
azure-storage-blob==12.18.3
azure-keyvault-secrets==4.9.0
azure-identity==1.21.0
python-dotenv==1.0.0